<div class="main-container">
  <form [formGroup]="form" (ngSubmit)="ingresar()" class="form">
      <h1>Ingresar</h1>
      <div class="fields">
        <mat-form-field class="field">
            <mat-label>Email</mat-label>
            <input required matInput formControlName="email">
        </mat-form-field>

        <mat-form-field class="field">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password">
        </mat-form-field>
      </div>

      <button type="button" mat-button color="primary" style="padding: 0" (click)="loginWithGoogle()">
        <mat-icon>account_circle</mat-icon>
        <span>Iniciar sesión con Google</span>
      </button>

      <a routerLink="/registrarse">¿Aún no te has registrado? Registrarse.</a>

      <button type="submit" mat-raised-button color="primary">Ingresar</button>
    </form>
</div>
