.main-container {
    background-color: #004379;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons {
    display: block;
    > button{
        margin-right: 10px;
    }
}

.links{
    display: block;
    > a {
        margin-right: 12px;
        color: white;
        font-size: 18px;
        text-decoration: none;
    }
}

.ham-menu {
    display: none;
}

img {
    height: 80px; 
    width: auto;
}
@media screen and (max-width: 768px) {
    .buttons{
        display: hidden;
    }

    .ham-menu{
        display: inline-block;
    }
    .links {
        display: none;
    }
    .buttons {
        display: none;
    }
}