.main-container {
    background-color: #004379;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}
 
.buttons {
    display: block;
    > button{
        margin-right: 10px;
    }
}

.links{
    display: block;
    > a {
        margin-right: 12px;
        color: white;
        font-size: 18px;
        text-decoration: none;
    }
}

p {
    margin-right: 12px;
    color: white;
    font-size: 18px;
}

.ham-menu {
    display: none;
}

.loggedIn {
    display: flex;
    align-items: center;
}

img {
    height: 80px; 
    width: auto;
}

@media screen and (max-width: 768px) {
    .buttons{
        display: hidden;
    }

    .ham-menu{
        display: inline-block;
    }
    .links {
        display: none;
    }
    .buttons {
        display: none;
    }

    .loggedIn {
        display: none;
    }

}