<div class="main-container">
    <a routerLink="/"><img src="../../assets/favicon.png"/></a>
    <div class="links">
      <a routerLink="/desplazarse">Desplazarse</a>
      <a routerLink="/foro">Foro</a>
      <a routerLink="/soporte">Soporte</a>
    </div>
    <div class="buttons" *ngIf="!authService.isLoggedIn()">
      <button mat-raised-button routerLink="/ingresar">
        INGRESAR
      </button>
      <button mat-raised-button routerLink="/registrarse">
       REGISTRARSE
      </button>
    </div>

    <div *ngIf="authService.isLoggedIn()" class="loggedIn">
      <p style="margin-bottom: 0;">¡Bienvenido {{user?.email}}!</p>
      <button mat-raised-button (click)="logout()">
        Cerrar sesión
      </button>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="ham-menu">
      <mat-icon style="color: white;">menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/desplazarse">
        <mat-icon>directions_bus</mat-icon>
        <span>Desplazarse</span>
      </button>
      <button mat-menu-item routerLink="/foro">
        <mat-icon>forum</mat-icon>
        <span>Foro</span>
      </button>
      <button mat-menu-item routerLink="/soporte">
        <mat-icon>contact_support</mat-icon>
        <span>Soporte</span>
      </button>
      <button mat-menu-item routerLink="/ingresar" [ngStyle]="{'display': !authService.isLoggedIn() ? 'block' : 'none'}">
        <mat-icon>person</mat-icon>
        <span>Ingresar</span>
      </button>
      <button mat-menu-item routerLink="/registrarse" [ngStyle]="{'display': !authService.isLoggedIn() ? 'block' : 'none'}">
        <mat-icon>person_add</mat-icon>
        <span>Registrarse</span>
      </button>
      <button mat-menu-item [ngStyle]="{'display': authService.isLoggedIn() ? 'block' : 'none'}" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
</div>

