.example-spacer {
    flex: 1 1 auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 20px 270px;
    background-color: #004379;
    height: 100px;
}

img {
    height: 80px; 
    width: auto;
    margin-right: 1rem;
}

.buttons {
    > button{
        margin-right: 10px;
    }
}

h1{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.links{
    margin-left: 4rem;
    > a {
        margin-right: 12px;
        color: white;
        font-size: 18px;
        text-decoration: none;
    }
}