h1 {
  color: #004379;
  font-size: 24px;
  font-weight: bold;
}

.main-container {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.form {
  border: 1px solid #004379;
  border-radius: 4px;
  padding: 20px 20px;
}

.fields {
  display: flex;
  flex-direction: column;
}

.field {
  width: 400px;
}

@media screen and (max-width: 600px) {
  .field {
    width: 200px;
  }
}
