<div class="main-container">
    <h1>Desplazarse</h1>
    <div class="content">

        <mat-card class="form">
            <div>
                <h2>A dónde vamos</h2>
                <form [formGroup]="form" (ngSubmit)="buscar()">
        
                    <mat-form-field  appearance="fill" style="width: 100%; margin-bottom: 0;">
                        <mat-label>Origen</mat-label>
                        <input required matInput formControlName="origin">
                    </mat-form-field>
                    <button type="button" mat-button style="margin-bottom: 19px;" (click)="exchangeLocations()">
                        <mat-icon>compare_arrows</mat-icon>
                    </button>
                    <mat-form-field  appearance="fill" style="width: 100%;">
                        <mat-label>Destino</mat-label>
                        <input matInput formControlName="destination">
                    </mat-form-field>
        
                    <button type="submit" mat-raised-button color="primary">Buscar</button>
                </form>
            </div>
        </mat-card>

       <div *ngIf="fetching">
            Búscando la mejor ruta...
           <mat-progress-bar mode="indeterminate" style="margin: 1rem 0;"></mat-progress-bar>
       </div>

       <h2 *ngIf="!found && search && !fetching">No hemos encontrado rutas para este trayecto</h2>
    
        <mat-card class="steps" *ngIf="found">
            <h2>Pasos a seguir</h2>

            <mat-list>
                <mat-list-item *ngFor="let step of steps" style="height: unset; margin-bottom: 1rem;">
                    <app-route-step [step]="step"></app-route-step>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
</div>
