@import "../../_constants.sass";

.form {
    display: flex;
    margin-bottom: 1rem;
    width: fit-content;
}

.main-container {
    width: 80%;
    margin: 4rem auto;
}

.content {
    display: flex;
    flex-direction: column;
}

h1 {
    color: $main-color;
    font-size: 30px;
    font-weight: bold;
    line-height: normal;
}
