<div class="main-container">
    <h1>Desplazarse</h1>
    <div class="content">

        <mat-card class="form">
            <div>
                <h2>A dónde vamos</h2>
                <form [formGroup]="form" (ngSubmit)="nada()">
        
                    <mat-form-field  appearance="fill" style="width: 100%; margin-bottom: 0;">
                        <mat-label>Origen</mat-label>
                        <input required matInput formControlName="origin">
                    </mat-form-field>
                    <button mat-button style="margin-bottom: 19px;">
                        <mat-icon>compare_arrows</mat-icon>
                    </button>
                    <mat-form-field  appearance="fill" style="width: 100%;">
                        <mat-label>Destino</mat-label>
                        <input matInput formControlName="destination">
                    </mat-form-field>
        
                    <button type="submit" mat-raised-button color="primary" style="margin-left: 1rem;">Buscar</button>
                </form>
            </div>
        </mat-card>
    
        <mat-card class="steps">
            <h2>Pasos a seguir</h2>

            <mat-list>
                <mat-list-item *ngFor="let step of steps" style="height: unset; margin-bottom: 1rem;">
                    <app-route-step [step]="step"></app-route-step>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
</div>
